<template>
  <BaseCard title="דואר נכנס"></BaseCard>
</template>

<script>
import BaseCard from "../components/BaseCard.vue";

export default {
  name: "Inbox",
  components: {
    BaseCard
  }
};
</script>