<template>
  <BaseCard title="דואר יוצא"></BaseCard>
</template>

<script>
import BaseCard from "../components/BaseCard.vue";

export default {
  name: "Sent",
  components: {
    BaseCard
  }
};
</script>