<template>
  <v-app>
    <v-layout row ma-5>
      <v-flex xs4 sm3 md2 ml-5>
        <Menu @switchTo="updateTo($event)"></Menu>
      </v-flex>
      <v-flex>
        <v-layout column fill-height>
          <v-flex xs8 mb-3>
            <keep-alive>
            <component :is="currentComponent"></component>
            </keep-alive>
          </v-flex>
          <v-flex>
            <MoreInfo></MoreInfo>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-app>
</template>

<script>
import Menu from "./components/Menu.vue";
import MoreInfo from "./components/MoreInfo.vue";
import Inbox from "./views/Inbox.vue";
import Sent from "./views/Sent.vue";

export default {
  name: "App",
  data() {
    return {
      currentComponent: "Inbox"
    };
  },
  methods: {
    updateTo: function(newComponent) {
      this.currentComponent = newComponent;
    }
  },
  components: {
    Menu,
    MoreInfo,
    Inbox,
    Sent
  }
};
</script>

<style>
html {
  overflow: hidden;
}
</style>