<template>
  <v-card height="100%">
    <v-toolbar color="pink" dark flat dense>
      <span>{{title}}</span>
    </v-toolbar>
    <v-container>
      <slot></slot>
    </v-container>
  </v-card>
</template>

<script>
export default {
  name: "BaseCard",
  props: {
    title: {
      type: String,
      default: ""
    }
  }
};
</script>