<template>
  <BaseCard title="תפריט">
    <v-list flat>
             <v-list-item-group mandatory active-class="grey lighten-4 blue--text">
            <v-list-item
              v-for="option in options"
              :key="option.title"
              @click="switchTo(option.component)"
            >
              <v-list-item-content>
                <v-list-item-title>{{option.title}}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
    </v-list>
  </BaseCard>
</template>

<script>
import BaseCard from "./BaseCard.vue";

export default {
  name: "Menu",
    data() {
    return {
      options: [
        { title: "דואר נכנס", component: "Inbox" },
        { title: "דואר יוצא", component: "Sent" }
      ],
    };
  }, 
    methods: {
    switchTo: function(component) {
      this.$emit('switchTo', component)
    },
    
  },
  components: {
    BaseCard
  }
};
</script>