<template>
    <BaseCard title="מידע נוסף"></BaseCard>
</template>

<script>
import BaseCard from './BaseCard.vue'

export default {
    name: 'MoreInfo',
    components: {
        BaseCard
    }
}
</script>